*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pattern{
 background-image: url("../img/pattern.png");
 background-color: rgb(59, 150, 214);
 background-size: contain;
 background-repeat: repeat-x;
 height: 100px;
 width: 100%;
}

.text-logo{
    width: 200px;
    height: 100%;
    padding-top: 50px;
}

.sottotesto{
    color: gray;
}
.link{
    text-decoration: none;
    color: lightskyblue;
}
.text-photo{
    color: gray;
}

.central-text{
    margin-top: 20px;
    width: 1000px;
    
}
.text-yellow{
    background-color: yellow;
    width: 600px;
    }

.elenco{
    margin-left: 20px;
    margin-top: 30px;
}

table{
    margin-top: 20px;
    width: 1000;
    border-spacing: 0px;
    
}
.tabella{
    width: 1000px;
    text-align: left;
    
}

.giallo{
    background-color: yellow;
}

thead{
    color: white;
    background-color: #4ea0ff;
}

.colonna3{
    width: 50%;
}



.riga{
    background-color: #6fa7e8;
    margin: 0;
}
.text2{
    width: 1000px;
    margin-top: 20px;
   
}
footer{
    margin-top: 20px;
}
.text-footer{
    color: gray;
}

.monitor{
   width: 300px;
   height: 200px;
    background-image: url("../img/monitor.jpg");
    color: white;
}

.graph{
    width: 300px;
   height: 200px;
    background-image: url("../img/graph.jpg");
    color: white;
    margin-top: 20px;
}